*{
    margin: 0;
    padding: 0;
}

body{
    background: black;
    color: white;
    font-family: system-ui;
    }



    header {
        padding: 0px;
        text-align:center;
        justify-content: space-between;
      }
      
      nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
      }
      
      nav li {
        margin: 80px;

        
      }
      
      nav a {
        color: gold;
        text-decoration: none;
      }
      
      nav a:hover {
        color:gold;
        
      }
      
      nav a.active {
        color: gold;
        font-weight: bold;
      }

      .navbar-brand{
        padding: 20px;
      }
      .navbar-brand:hover{
        color: gold;
        transform: scale(1.2);
        transition: 0.4s ease-in-out;
        }

        .button{

            width: 110%;
            padding: 10px;
        }


        .crud{
            display: grid;
            grid-gap: 10px; /* add 10px gap between inputs */
            width: 80%;
            margin:  auto;
    
        }
        .head{
            text-align: center;
            text-transform: uppercase;
            margin: 10px 0;
    
        }
        input{
            background-color: #0f0e0f;
            width: 100%;
            height: 60px;
            margin: 20px 0;
            padding: 10px;
            font-size: 30px;
            border-radius: 30px;
            border: 1px solid #ccc;
            color: white;
            outline: none;
            transition: 0,8s;
         }      
    
        input:valid{    
        }
        input:focus
            {
            background: rgb(19, 16, 16);
            transform: scale(1.1);
        }
    
        .price input{

            width: 15%;
            padding: 10px;
            margin: 15px 10px 1px 10px;
        }
    #total{
        background: red;
        padding: 5px 2px;
        border-radius: 3px;
    }
    #total::before{
        content: 'Total :';
    }
    button{
        width: 100%;
        height: 45px;
        border: none;
        cursor: pointer;
        background: #310044;
        color: white;
        border-radius: 20px;
    }
    button:hover{
        background-color: #51025f;
        letter-spacing: 1px;
    }
    .btnSearch{
        display: flex;
        justify-content: space-between;
    }
    .btnSearch button{
        width: 45%;
    }


    #deleteAll{
        margin: 20px;
    }

    table{
        width: 100%;
        text-align: center;
        margin: 10px 0;
    }
    table th{
        text-transform: uppercase;
    }
    th ,td{
        padding: 5px;

    }




    footer{
        display: flex ;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
    }


   


    